 {{!--
<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br>
  <br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br> {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>
  <br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/signup">Signup</a>
  </p>
</form> --}}

<form class="formLogin" action="/login" method="POST" id="form-container">
  <div class="scene">
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <div class="cube">
      <nav class="steps">
        <div class="dot step_1 done"></div>
        <div class="dot step_2"></div>
        <div class="dot step_3"></div>
      </nav>
      <div class="cube__face  cube__face--front" id="step__1">
        <div class="container">
          <input id="username" type="text" name="username" placeholder='boyander' required>
          <div class="btn">
            <span data-step="1">Continue</span>
          </div>
        </div>
      </div>
      <div class="cube__face cube__face--bottom" id="step__2">
        <div class="container">
          <input id="password" type="password" name="password" placeholder="111111" required>
          <div class="btn">
            <span data-step="2">Continue</span>
          </div>
        </div>
      </div>
      <div class="cube__face" id="step__3">
        <div class="container">
          <input type="text" class="label" placeholder="Vaya tela!" type="submit" disabled>
          <div class="right">
            <label for="">No</label>
            <div class="checkbox">
              <div class="circle"></div>
            </div>
            <label for="">Yes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="account-message">
    Don't have an account yet?
    <a href="/signup">Signup</a>
  </p>
</form>