<h2>New ChatRoom</h2>
<label for="name">Chat name: </label>
<input id="name" type="text" name="name" required>
<br>
<label for="users">Add users: </label>
<select multiple="multiple" name="users[]" class="js-example-basic-single" id="sel">
 {{#each users}}
 <option value="{{this._id}}">{{this.username}}</option>
 {{/each}}
</select>
<br>
<button id="createChat">Create chat</button>

