.scene {
  width: 650px;
  height: 70px;
  /*   margin: 80px; */
  perspective: 400px;
  margin: auto;
  position: relative;
  transition: opacity 0.5s;
  z-index: 2; }

.scene.end {
  opacity: 0;
  transition-delay: 0.25s;
  transition: opacity 0.5s;
  z-index: 0; }

.welcome {
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  transition-delay: 0.25s;
  transition: opacity 0.5s; }

.welcome .content {
  margin: auto;
  font-size: 2rem;
  color: #ffffff; }

.welcome.show {
  opacity: 1; }

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px); }

.steps {
  position: absolute;
  top: 140%;
  display: flex;
  width: 100%;
  justify-content: center; }

.steps .dot {
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  margin: 0 10px;
  transition: 0.25s; }

.steps .dot.done {
  background: rgba(255, 255, 255, 0.75); }

.formLogin .steps .dot.done {
  background: #e90052; }

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 40px;
  font-weight: bold;
  transition: transform 0.5s;
  opacity: 0;
  background: #ffffff;
  border-radius: 5px; }

.cube__face--front {
  transform: rotateY(0deg) translateZ(35px);
  opacity: 1;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5); }

.cube__face--top {
  transform: rotateX(90deg) translateZ(35px);
  opacity: 1; }

.cube__face--top .container {
  opacity: 0;
  transition: opacity 0.5s; }

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(35px); }

.hidden {
  display: none; }

#form-container input:not([type=radio]),
#form-container select {
  display: block;
  margin: 0;
  /*     padding: 0 0 0.15em; */
  /*     padding-left: 50px; */
  width: 100%;
  border: none;
  background-color: transparent;
  color: #202020;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1.5rem;
  height: 100%;
  /* 	padding-right:185px; */ }

#form-container input:focus,
#form-container select:focus {
  outline: none; }

#form-container input::placeholder {
  color: #a0a0a0; }

#form-container input.label::placeholder {
  color: #202020 !important; }

.cube__face .container {
  height: 100%;
  width: 100%;
  position: relative;
  padding-right: 185px;
  padding-left: 50px; }

div.btn.show {
  opacity: 1 !important; }

div.btn.show span {
  display: block !important; }

div.btn {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  display: flex;
  transition: opacity 0.25s ease;
  opacity: 0; }

div.btn span {
  color: #e90052;
  font-size: 1.25rem;
  padding: 10px 25px;
  border: 3px solid #e90052;
  border-radius: 40px;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  transition: all 0.25s;
  display: none; }

div.btn span:hover {
  color: #ffffff !important;
  background: #e90052; }

#step__1 .container, #step__6 .container {
  display: flex;
  padding-right: 10px; }

.formLogin #step__3 .container {
  display: flex;
  padding-right: 10px; }

.radio {
  display: flex;
  align-items: center; }

.item {
  width: 46px;
  height: 46px;
  margin: 2px;
  cursor: pointer;
  transition: transform 0.25s;
  border-radius: 4px; }

.item:hover {
  transform: scale(1.2); }

body.blue, .item.blue {
  background: #04f5ff; }

body.yellow, .item.yellow {
  background: #EBFF00; }

body.purple, .item.purple {
  background: #e90052; }

body.green, .item.green {
  background: #00ff85; }

body.violet, .item.violet {
  background: #38003c; }

div.btn.blue span {
  color: #04f5ff;
  border-color: #04f5ff; }

div.btn.blue span:hover {
  background: #04f5ff; }

div.btn.yellow span {
  color: #EBFF00;
  border-color: #EBFF00; }

div.btn.yellow span:hover {
  background: #EBFF00; }

div.btn.purple span {
  color: #e90052;
  border-color: #e90052; }

div.btn.purple span:hover {
  background: #e90052; }

div.btn.green span {
  color: #00ff85;
  border-color: #00ff85; }

div.btn.green span:hover {
  background: #00ff85; }

div.btn.violet span {
  color: #38003c;
  border-color: #38003c; }

div.btn.violet span:hover {
  background: #38003c; }

.right {
  display: flex;
  align-items: center; }

.right label {
  font-size: 1.5rem;
  font-weight: normal; }

.checkbox {
  padding: 4px;
  border: 3px solid #e90052;
  display: inline-block;
  width: 64px;
  border-radius: 40px;
  margin: auto 8px; }

.checkbox .circle {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #e90052;
  display: block;
  transform: translateX(0px);
  transition: transform 0.25s ease,background 0.25s ease; }

.checkbox.checked {
  background: #e90052; }

.checkbox.checked .circle {
  transform: translateX(25px);
  background: white !important; }

.checkbox.blue {
  border-color: #04f5ff; }

.checkbox.blue .circle {
  background: #04f5ff; }

.checkbox.checked.blue {
  background: #04f5ff; }

.checkbox.yellow {
  border-color: #EBFF00; }

.checkbox.yellow .circle {
  background: #EBFF00; }

.checkbox.checked.yellow {
  background: #EBFF00; }

.checkbox.purple {
  border-color: #e90052; }

.checkbox.purple .circle {
  background: #e90052; }

.checkbox.checked.purple {
  background: #e90052; }

.checkbox.green {
  border-color: #00ff85; }

.checkbox.green .circle {
  background: #00ff85; }

.checkbox.checked.green {
  background: #00ff85; }

.checkbox.violet {
  border-color: #38003c; }

.checkbox.violet .circle {
  background: #38003c; }

.checkbox.checked.violet {
  background: #38003c; }

#color-input {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  display: none; }

#form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  width: 100%;
  flex-direction: column; }

.error-message {
  text-align: center;
  font-family: helvetica;
  font-weight: normal;
  font-size: 1rem; }

#upLoadFileCentered {
  margin-top: 17px; }

#BigTitle {
  font-size: 70px;
  -webkit-margin-after: 1px; }

.indexTitle {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: #e90052;
  margin: 0 auto;
  width: 960px;
  text-align: center; }

.indexLinks {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin: 0 auto;
  width: 960px;
  text-align: center; }

.w-100 {
  width: 100% !important;
  height: 310px;
  object-fit: contain; }

#row-index {
  height: 100vh;
  align-items: center; }

.input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px; }

.containerProfile {
  max-width: 675px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%; }

.service-details {
  height: 275px;
  overflow: hidden;
  position: relative; }

.service-details img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
  max-width: 282px; }

/* .service-details:hover img {
} */
.service-details .service-hover-text h3 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 300; }

.service-details .service-hover-text h4 {
  padding: 0px;
  padding-bottom: 13px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 3px;
  width: 90%;
  font-family: "Open Sans";
  text-transform: uppercase;
  border-bottom: 2px solid #000; }

.service-details .service-hover-text p {
  padding-top: 13px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans"; }

.service-details .service-hover-text a {
  padding-top: 5px;
  color: white; }

.service-details .service-hover-text {
  width: 42%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 3% 4%;
  background: #D90E0E;
  color: white;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s; }

.service-details:hover .service-hover-text {
  display: block !important;
  color: white;
  background: rgba(217, 14, 14, 0.85);
  left: 0px;
  top: 0px;
  height: 100%; }

.service-details .service-text {
  width: 50%;
  height: inherit;
  float: left;
  position: absolute;
  left: 50%; }

.service-details .service-text p {
  font-size: 32px;
  font-family: 'Bangers', cursive;
  font-weight: 700;
  color: #fff; }

.service-details .service-text p span {
  font-family: "Open Sans" !important; }

.service-details .service-text a, .service-white .service-text {
  padding: 0px 0px 0px 20px;
  font-size: 14px !important;
  color: #e90052 !important;
  font-family: "Open Sans" !important;
  text-decoration: none !important; }

.service-white.service-text {
  display: flex;
  align-items: center;
  padding-left: 20px; }

.service-white.service-text p {
  color: #e90052; }

.service-details .service-text {
  float: left; }

.service-white {
  background: white;
  width: 50% !important;
  height: inherit !important; }

.myblog {
  position: relative; }

#moodFont, .moodPic p {
  color: #e90052;
  font-size: 32px;
  font-family: 'Bangers', cursive; }

.moodPic p {
  margin-bottom: 1px; }

.moodPic img {
  margin-bottom: 3px; }

.wrapperForClear {
  height: 250px;
  overflow-y: scroll;
  margin-top: 5%; }

.clear {
  height: 400px;
  display: flex;
  flex-wrap: wrap; }

.clear > div {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  margin: 0 10px 10px 0; }

.clickable img {
  max-width: 100%;
  height: 100px;
  object-fit: cover; }

.textClass {
  color: green;
  font-size: 32px;
  font-family: 'Bangers', cursive; }

#newChatRoomGif {
  max-width: 250px;
  margin-bottom: 50px; }

.chatRoomWrapper h2 {
  font-family: 'Bangers', cursive;
  color: #e90052;
  font-size: 32px; }

.chatRoomWrapper {
  max-width: 500px;
  margin: 30px auto 0;
  text-align: center; }

.newChatbutton {
  margin-top: 10%; }

* {
  box-sizing: border-box; }

body {
  font-family: helvetica;
  height: 100vh;
  width: 100vw;
  background: white;
  margin: 0;
  transition: background 0.5s; }

/* h1{
  -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.1em;
}

p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
} */
a {
  color: #00B7FF;
  text-decoration: none; }

.buttonCambio {
  display: block; }

.message-form__button {
  height: 48px; }

#findGifbutton {
  height: 48px; }

/* body {
  box-sizing: border-box;
  margin: 0;
  padding: 13px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
} */
.members-count,
.members-list,
.messages {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px; }

.members-list {
  height: 575px;
  overflow-y: scroll; }

.messages {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 400px; }

.message-data {
  margin-bottom: 15px; }

.message, .gifMessage {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  background: #76d476; }
  .message:after, .gifMessage:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #76d476;
    border-width: 10px;
    margin-left: -10px; }

.message .member {
  display: inline-block; }

.member {
  padding-right: 10px;
  position: relative; }

.message-form {
  flex-shrink: 0; }

.message-form__input {
  flex-grow: 1;
  border: 1px solid #dfdfdf;
  padding: 10px 15px;
  font-size: 16px; }

.message-form__button {
  margin: 10px; }

#findGif {
  width: 100px; }

#pleaseHideforDom {
  display: none; }

.js-example-basic-single {
  width: 200px; }

#chatId {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 50%; }

.webPageGif {
  max-width: 100%; }

.members-list {
  background: #314252;
  color: white; }

.col-8 {
  height: 575px; }

#gifAux {
  height: 475px;
  overflow-y: scroll;
  margin-top: 5%; }

.gifMessageChoices {
  display: flex;
  flex-wrap: wrap; }

.gifMessageChoices > div {
  width: 100px;
  height: 100px;
  box-sizing: border-box; }

.chatClickable {
  margin-bottom: 5px; }

.newInput {
  width: 80%; }

#hide {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0; }

/*# sourceMappingURL=style.css.map */