#BigTitle{
    font-size: 70px;
    -webkit-margin-after: 1px;
}

.indexTitle{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: #e90052;
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

.indexLinks{
    font-family: 'Bangers', cursive;
    font-size: 40px;
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

.w-100 {
    width: 100%!important;
    height: 310px;
    object-fit: contain;
}

#row-index{
    height: 100vh;
    align-items: center;
}

