#newChatRoomGif{
  max-width: 250px;
  margin-bottom: 50px;
}
.chatRoomWrapper h2{
  font-family: 'Bangers', cursive;
  color: #e90052;
  font-size: 32px;
}
.chatRoomWrapper{
  max-width: 500px;
  margin: 30px auto 0;
  text-align: center;
}
.newChatbutton{
  margin-top: 10%;
}